#header {
  padding-top: 20px;
  height: 100%;
  margin-bottom: 176px;
  background: #e3f2fd;
}
#logo {
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}
#main {
  vertical-align: bottom;
  width: 100%;
}
#switchButton {
  width: 100%;
  height: 44px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}
.inputRow {
  width: 100%;
  padding: 0 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}
#aliasInput {
  width: 100%;
  height: 44px;
}
#passwordInput {
  width: 100%;
  height: 44px;
}
#submitButton {
  width: 100%;
  height: 44px;
  color: #ffffff;
  background: #42a5f5;
}
